#texto1{
    color: #A9A9A9;
    font-size: 50px;
}


.tab{
    margin-left:100px;
    margin-right: 100px; 
}

.tama{
    width: 500px;
    text-align: center;
}

.texto{
    text-align: center;
}

.imag{
    width: 150px;
    height: 60px;
    margin-top: 15px;
}


input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

label{
    text-indent: -9999px;
    width: 80px;
    height: 40px;
    background: grey;
    display: block;
    border-radius: 90px;
    position: relative;
    
}

label:after{
    content: '';
    position: absolute;
    top:5px;
    left: 5px;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 90px;
    transition: 0.2s;
}

input:checked+label {
    background: #0B87B5;
  }
  
  input:checked+label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }
  
/*   label:active:after {
    width: 130px;
  }
 */
  .toosgle{
      height: 100%;
      width: 100%;
    text-align: center;
  }

  .subtoggle{
    display:inline-block;
    padding-bottom: 25px;

  }

  .tama2{
      padding-top: 30px;
  }

  .buttons {
    background-color: Transparent;

  }