#texto1{
    color: #A9A9A9;
    font-size: 50px;
}


.tab{
    margin-left:100px;
    margin-right: 100px; 
}

.tama{
    width: 500px;
    text-align: center;
}

.texto{
    text-align: center;
}

.imag{
    width: 150px;
    height: 60px;
}

.leftt{

}
