<div class="container pb-2 mt-4 ">
  <br>

  <div class="row justify-content-center">
    <h1 id="texto1" class="sa">MANTENIMIENTO DE SOLUCIONES</h1>
  </div>

</div>

<br>
<br>


<div class="general">
  <div class="row">
      <div class="mb-2"  style="text-align: right;width:100%;margin-right: 130px; ">
        <button type="button" class="btn btn-success" (click)="onAgregar()">Agregar</button>
      </div>
  </div>
  
  
  <div class="tab">
          <div class="col">
            <table class="table tabla">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="tama"> Sistema </th>
                  <th scope="col" class="tama"> Editar </th>
                  <th scope="col" class="tama"> Desactivar / Activar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of items">
                  <td scope="col" class="tama" >
                    <img class="slide-image align-self-center imag" [src]="item.ruta_imagen">
                  </td>
                  <td scope="col" class="align-self-center tama2">
                      <div class="toosgle">
                          <button class="buttons" (click)="modificarProducto(item.id)"><i class="fa fa-edit" style="color:#496D7B; width:50; height:50;"></i></button>
                      </div>
                  </td>
                  <td scope="col" class="tama">
                      <div class="toosgle ">
                        <div class="subtoggle align-self-center">
                            <input type="checkbox" id="switch{{item.id}}" [(ngModel)]="item.activo" (change)="onChangeActivo(item)"/>
                            <label for="switch{{item.id}}" id="item.activo" ></label>
                        </div>
                      </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
  </div>
</div>



