<div class="row">

<!--   <div class="col-10">
    <div class="pb-2 mt-4 mb-2">
      <h2>NUESTRO PORTAFOLIO</h2>
      <h1>DE SERVICIOS</h1>
    </div>
  </div> -->
<!-- <div class="col-10">
    <div class="pb-2 mt-4 mb-2">
        <p class="text-center">NUESTRO PORTAFOLIO</p>
        <strong><p class="text-center">DE SERVICIOS</p></strong>
      </div>
</div> -->
</div>

<div class="container pb-2 mt-4 mb-2 ">
  <br>
    <div class="row justify-content-center">
      <h1 id="1">NUESTRO PORTAFOLIO</h1>
    </div>
    <div class="row justify-content-center">
        <h2  id="2"><strong>DE SERVICIOS</strong></h2>
      </div>
  </div>

  <style>

/* h2 {  
font-size: 82px;  
background: -webkit-linear-gradient(left top, #004885 , #004885,  #269FC0,#B4D7EB);
background: linear-gradient(to bottom right, #004885   ,#004885, #269FC0,#B4D7EB);
-webkit-background-clip: text;  
-webkit-text-fill-color: transparent; 
margin: 0px;
line-height:1;

}  

h1 {  
font-size: 50px;  
margin: 0px;
background: -webkit-linear-gradient(left top, #004885 , #004885,  #269FC0,#B4D7EB);
background: linear-gradient(to bottom right, #004885   ,#004885, #269FC0,#B4D7EB);
-webkit-background-clip: text;  
-webkit-text-fill-color: transparent;  
line-height:1;

}  
   */

  </style>