
p{
  margin: 30px;
  padding: 0px;
 font-size: 16px;  
  text-align: justify;
  font-family: Helvetica;
}

body {
  min-height: 100%;
  position: relative;
  margin: 0;
}

@media (max-width: 862px) { 
  .descripcion{
    display: none !important;
  }

}



.sa{
  font-size: 50px; 
}
.sa2{
  font-size: 82px;
}

@media (max-width: 600px) { 
  .sa {
    font-size: 6.2vw;  
  }
  
}


/* .tamañofooter{
  height:70px;

} */


@media (max-width: 700px) { 
  .sa2{
    font-size: 9.2vw;  
  }

}

#divfooter{
  height: 100%
} 

#imagenfooter{
  height: 50%;
} 

@media (max-width: 500px) { 
  #imagenfooter{
    height: 40%;  
  }
  #footer{
    height:50px;
  }
  .content-wrap{
    padding-bottom: 50px;
  }

}


.botonmantenimiento{
    margin-top: 70px;
  
}

.btn{
  background-color: #1161A4;
  border-color: #1161A4;
}


  .slide-image{
    transition: 0.5s;
    width: 20px; 
    vertical-align: middle;
  }

.contenedorimagen{
  /*width: 100%;*/ 
  height: 150px;
}

  .slide-image:hover {
    filter: opacity(.5);
    overflow:hidden;
  }

#footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  
}

.content-wrap{
  padding-bottom:70px;
}



 @font-face {
  font-family: 'Helvetica';
  src: url(./assets/font/HWR.ttf) format("opentype"); 
}

* {
  font-family: 'Helvetica', 'arial', sans-serif;
}