<div class="container-fluid">
  <div class="container pb-2 mt-4 ">
    <br>
    <div class="row justify-content-center">
      <label id="texto1" class="sa"></label>
    </div>
    <div class="row justify-content-center">
      <strong>
        <label id="texto2" class="sa2"></label>
      </strong>
    </div>
  </div>

  

  <br>

  <div class="row ove">
    <div class="container">
      <owl-carousel [options]="carouselOptions"  class="row justify-content-center" [items]="items" [carouselClasses]="['owl-theme', 'row', 'sliding']">
        <div  *ngFor="let imagen of imagenes;let i = index">
        <div class="contenedorimagen mx-4">
            <a href="{{imagen.link_ruta}}" class="info container d-flex h-100" target="_blank">
                <img class="slide-image align-self-center" [src]="imagen.ruta_imagen"> </a>
        </div>
          <div class="slide-text">
            <p [attr.id]="'wave' + i">{{imagen.descripcion}}</p>
          </div>
          <i class="fa fa-play-circle text-primary ml-4" data-toggle="modal" [attr.data-whatever]="imagen.video" data-target="#exampleModal"></i>
        </div>
      </owl-carousel>  
      </div>
    </div>
  </div>

  <button *ngIf="mantenimiento" type="button" class="btn btn-primary" (click)="onEditar()" >Editar sistemas</button>


<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document" >
      <div class="modal-content">
          <iframe src="https://www.youtube.com/embed/8MSP_lyRHjM" height="480"
    frameborder="0"
    allow="accelerometer; autoplay; 
    encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
  </iframe>
      </div>
    </div>
  </div> -->

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <iframe height="400" id="video" 
            frameborder="0" allow="accelerometer; autoplay; 
            encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
          </iframe>
        </div>
      </div>
    </div>

<footer class="footer container-fluid tamañofooter" id="footer">
  <div class="row h-100">
    <div class="offset-1 col-2" id="divfooter" >
       <a href="http://www.exact.com.pe/" target="_blank">
        <img [src]="foot.logo" class="mt-3" id="imagenfooter"> 
      </a>     
    </div>
    <div class="offset-sm-3 offset-xl-5  col">
      <span class="mt-4 d-block descripcion" id="descripcionfooter"></span>
    </div>
  </div>  
</footer>

