
p{
  margin:35px;
  padding:0;
  font-size: 16px;  
  text-align: justify;
  font-family: Helvetica;
}

body {
  min-height: 100vh;
  position: absolute;
  margin: 0;
}

@media (max-width: 862px) { 
  .descripcion{
    display: none !important;
  }

}

.ove{
  overflow: hidden;
}

.sa{
  font-size: 50px; 
}
.sa2{
  font-size: 82px;
}

@media (max-width: 600px) { 
  .sa {
    font-size: 6.2vw;  
  }
  
}

.tamañofooter{
  height:70px;
}


@media (max-width: 700px) { 
  .sa2{
    font-size: 9.2vw;  
  }

}

#divfooter{
  height: 100%
} 

#imagenfooter{
  height: 50%;
} 

@media (max-width: 500px) { 
  #imagenfooter{
    height: 40%;  
  }
  .tamañofooter{
    height:50px;
  }

}


.botonmantenimiento{
    margin-top: 70px;
}




/* h2 {  

    font-size: 82px;  
    background: -webkit-linear-gradient(left top, rgb(0, 72, 133), rgb(0, 72, 133),  rgb(38, 159, 192),rgb(180, 215, 235));
    background: linear-gradient(to bottom right, rgb(0, 72, 133),rgb(0, 72, 133), rgb(38, 159, 192),rgb(180, 215, 235));
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent; 
    margin: 0px;
    line-height:1;

  }  

  h1 {  
    font-size: 50px;  
    margin: 0px;
    background: -webkit-linear-gradient(left top, rgb(0, 72, 133), rgb(0, 72, 133),  rgb(38, 159, 192),rgb(180, 215, 235));
    background: linear-gradient(to bottom right, rgb(0, 72, 133),rgb(0, 72, 133), rgb(38, 159, 192),rgb(180, 215, 235));
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;  
    line-height:1;

  }   */



/*   s.owl-carousel {
    width: 90% !important;
    margin: 10% auto;
  }
   
  .owl-carousel .owl-nav {
    overflow: hidden;
    height: 0px;
  }
   
  .owl-carousel .nav-btn {
    height: 47px;
    position: absolute;
    width: 26px;
    cursor: pointer;
    top: 30% !important;
  }
   
  .owl-carousel .owl-prev.disabled,
  .owl-carousel .owl-next.disabled {
    pointer-events: none;
    opacity: 0.2;
  }
   

   
  .owl-carousel .prev-slide:hover {
    background-position: 0px -53px;
  }
   
  .owl-carousel .next-slide:hover {
    background-position: -24px -53px;
  }


  .carousell {
    margin-top:20px;
  }   */

  .slide-image{
    transition: 0.5s;
    width: 20px; 
    vertical-align: middle;
  }

.contenedorimagen{
  /*width: 100%;*/ 
  height: 150px;
}

  .slide-image:hover {
    filter: opacity(.5);
    overflow:hidden;
  }

#footer{
  margin-top: 20px;

}


/*  i{
  color: black;
  } */


/*   .owl-carousel {
    width: 90% !important;
    margin: 10% auto;
  }

   
  .owl-carousel .owl-sliding {
    overflow: scroll;
    height: 150px;
    background: blue
    }
  
   
  .owl-carousel .nav-btn {
    height: 47px;
    position: absolute;
    width: 26px;
    cursor: pointer;
    top: 30% !important;
  }
   
  .owl-carousel .owl-prev.disabled,
  .owl-carousel .owl-next.disabled {
    pointer-events: none;
    opacity: 0.2;
  }
   
  .owl-carousel .prev-slide {
    background: url(./assets/images/simih.png) no-repeat scroll 0 0;
    left: -33px;
  }
   
  .owl-carousel .next-slide {
    background: url(./assets/images/simih.png) no-repeat scroll -24px 0px;
    right: -33px;
  }
   
  .owl-carousel .prev-slide:hover {
    background-position: 0px -53px;
  }
   
  .owl-carousel .next-slide:hover {
    background-position: -24px -53px;
  }


 */



 @font-face {
  font-family: 'Helvetica';
  src: url(./assets/font/HWR.ttf) format("opentype"); 
}

* {
  font-family: 'Helvetica', 'arial', sans-serif;
}